.idea/*
__pycache__/*
colorpicker/__pycache__/*
Joystick/__pycache__/*
jsonViewer/__pycache__/*
DPad/__pycache__/*
.qt_for_python/*
qdarktheme/__pycache__/*
qdarktheme/qtpy/__pycache__/*
qdarktheme/qtpy/QtCore/__pycache__/*
qdarktheme/qtpy/QtGui/__pycache__/*
qdarktheme/qtpy/QtSvg/__pycache__/*
qdarktheme/qtpy/QtWidgets/__pycache__/*
qdarktheme/themes/dark/__pycache__/*
qdarktheme/themes/__pycache__/*
qdarktheme/themes/light/__pycache__/*
menu.log
qdarktheme/_icon/__pycache__/*
qdarktheme/_resources/__pycache__/*
qdarktheme/_template/__pycache__/*
